<ion-header>
  <ion-toolbar>
    <ion-title>New Post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="stacked">Text</ion-label>
          <ion-textarea [(ngModel)]="text"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="stacked">Location</ion-label>
          <ion-input [(ngModel)]="location"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" (click)="takePhoto()">Take Photo</ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="photoPreview">
      <ion-col size="12">
        <ion-card>
          <img [src]="photoPreview" alt="Photo Preview">
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" [disabled]="!text || !location || !photoPreview" (click)="savePost()">Save Post</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
