<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="start">
      <ion-button>
        <img src="assets/logo.png" alt="FaceTrick Logo" class="logo">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <h1>Welcome to FaceTrick!</h1>
    <p>Get ready to have fun with FaceTrick, the ultimate photo blogging app.</p>
    <img src="assets/logo.png" alt="FaceTrick Logo">
  </div>
</ion-content>
