.logo {
    width: 50px;
    height: 50px;
  }

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  img {
    width: 250px;
    height: 250px;
  }
  
  ion-toolbar {
    --background: #9ee1ae;
  }

  